<% layout('layouts/boilerplate') %>
<div class="editFormMainBody">
    <h1 class="pageTitle">Edit Task</h1>
    <div class="formContainer">
        <form id="editTaskForm" method="POST" action="/weekly-tasks/<%= task._id %>?_method=PUT">
            <% if (task.isAssigned) { %>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="isAssignedToggle" name="task[isAssigned]" <% if (task.isAssigned) { %> checked <% } %> value="true">
                    <label class="form-check-label" for="isAssignedToggle">Assigned</label>
                </div>
            <% } %>
            <div class="editInputRow">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="task[title]" value="<%= task.title %>" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="editInputRow">
                <label class="form-label" for="releasedOn">Released On</label>
                <select class="form-select" id="releasedOn" name="task[releasedOn]" required>
                    <option value="" selected disabled>Select a day</option>
                    <option value="Monday" <% if (task.releasedOn === "Monday") { %> selected <% } %>>Monday</option>
                    <option value="Tuesday" <% if (task.releasedOn === "Tuesday") { %> selected <% } %>>Tuesday</option>
                    <option value="Wednesday" <% if (task.releasedOn === "Wednesday") { %> selected <% } %>>Wednesday</option>
                    <option value="Thursday" <% if (task.releasedOn === "Thursday") { %> selected <% } %>>Thursday</option>
                    <option value="Friday" <% if (task.releasedOn === "Friday") { %> selected <% } %>>Friday</option>
                    <option value="Saturday" <% if (task.releasedOn === "Saturday") { %> selected <% } %>>Saturday</option>
                    <option value="Sunday" <% if (task.releasedOn === "Sunday") { %> selected <% } %>>Sunday</option>
                </select>
            </div>
            <div class="editInputRow">
                <label class="form-label" for="deadline">Deadline</label>
                <select class="form-select" id="deadline" name="task[deadline]" required>
                    <option value="" selected disabled>Select a day</option>
                    <option value="Monday" <% if (task.deadline === "Monday") { %> selected <% } %>>Monday</option>
                    <option value="Tuesday" <% if (task.deadline === "Tuesday") { %> selected <% } %>>Tuesday</option>
                    <option value="Wednesday" <% if (task.deadline === "Wednesday") { %> selected <% } %>>Wednesday</option>
                    <option value="Thursday" <% if (task.deadline === "Thursday") { %> selected <% } %>>Thursday</option>
                    <option value="Friday" <% if (task.deadline === "Friday") { %> selected <% } %>>Friday</option>
                    <option value="Saturday" <% if (task.deadline === "Saturday") { %> selected <% } %>>Saturday</option>
                    <option value="Sunday" <% if (task.deadline === "Sunday") { %> selected <% } %>>Sunday</option>
                </select>
            </div>
            <% if (task.isAssigned) { %>
            <h3 class="timingContainerHeader">Timings</h3>
            <div id="timingContainer">
                <% for (let i = 0; i < task.timings.length; i++) { %>
                    <div class="timingRow">
                        <div class="timingInputRow editInputRow">
                            <label class="form-label" for="day<%= i %>">Day</label>
                            <select class="form-select" id="day<%= i %>" name="task[timings][<%= i %>][day]" required>
                                <option value="" selected disabled>Select a day</option>
                                <option value="Monday" <% if (task.timings[i].day === "Monday") { %> selected <% } %>>Monday</option>
                                <option value="Tuesday" <% if (task.timings[i].day === "Tuesday") { %> selected <% } %>>Tuesday</option>
                                <option value="Wednesday" <% if (task.timings[i].day === "Wednesday") { %> selected <% } %>>Wednesday</option>
                                <option value="Thursday" <% if (task.timings[i].day === "Thursday") { %> selected <% } %>>Thursday</option>
                                <option value="Friday" <% if (task.timings[i].day === "Friday") { %> selected <% } %>>Friday</option>
                            </select>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="timingInputRow editInputRow">
                            <label class="form-label" for="timingStart<%= i %>">Start</label>
                            <select class="form-select" id="timingStart<%= i %>" name="task[timings][<%= i %>][timingStart]" required>
                                <option value="" selected disabled>Select a starting time</option>
                                <% for (let j = 8; j <= 18; j++) { %>
                                    <% let time = j < 10 ? '0' + j : j; %>
                                    <option value="<%= time %>00" <% if (task.timings[i].timingStart === time + '00') { %> selected <% } %>><%= time %>:00</option>
                                <% } %>
                            </select>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="timingInputRow editInputRow">
                            <label class="form-label" for="timingEnd<%= i %>">End</label>
                            <select class="form-select" id="timingEnd<%= i %>" name="task[timings][<%= i %>][timingEnd]" required>
                                <option value="" selected disabled>Select an ending time</option>
                                <% for (let j = 9; j <= 18; j++) { %>
                                    <% let time = j < 10 ? '0' + j : j; %>
                                    <option value="<%= time %>00" <% if (task.timings[i].timingEnd === time + '00') { %> selected <% } %>><%= time %>:00</option>
                                <% } %>
                            </select>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <button type="button" class="deleteTimingButton button" data-index="<%= i %>">Delete Timing</button>
                    </div>
                <% } %>
            </div>
            <button type="button" class="addTimingButton button">New Timing</button>

            <% } else { %>
            <div class="mb-3">
                <label class="form-label" for="duration">Duration (in hours)</label>
                <input class="form-control" type="number" id="duration" name="task[duration]" value="<%= task.duration %>" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <% } %>
            <div class="editFormBottomButtonRow">
                <a href="/timetable" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
        <button class="button" id="deleteTaskButton">Delete Task</button>
    </div>
</div>

<script>
    // Function to create a new timing row
    function createTimingRow(index) {
        const timingRow = document.createElement('div');
        timingRow.classList.add('timingRow');
        timingRow.innerHTML = `
            <div class="timingInputRow editInputRow">
                <label class="form-label" for="day${index}">Day</label>
                <select class="form-select" id="day${index}" name="task[timings][${index}][day]" required>
                    <option value="" selected disabled>Select a day</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                </select>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="timingInputRow editInputRow">
                <label class="form-label" for="timingStart${index}">Start</label>
                <select class="form-select" id="timingStart${index}" name="task[timings][${index}][timingStart]" required>
                    <option value="" selected disabled>Select a starting time</option>
                    <% for (let j = 8; j <= 18; j++) { %>
                        <% let time = j < 10 ? '0' + j : j; %>
                        <option value="<%= time %>00"><%= time %>:00</option>
                    <% } %>
                </select>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="timingInputRow editInputRow">
                <label class="form-label" for="timingEnd${index}">End</label>
                <select class="form-select" id="timingEnd${index}" name="task[timings][${index}][timingEnd]" required>
                    <option value="" selected disabled>Select an ending time</option>
                    <% for (let j = 9; j <= 18; j++) { %>
                        <% let time = j < 10 ? '0' + j : j; %>
                        <option value="<%= time %>00"><%= time %>:00</option>
                    <% } %>
                </select>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <button type="button" class="deleteTimingButton button" data-index="${index}">Delete Timing</button>
        `;
        return timingRow;
    }

    // Function to handle the click event of the Add Timing button
    function addTiming() {
        const timingContainer = document.getElementById('timingContainer');
        const timingRows = timingContainer.getElementsByClassName('timingRow');
        const index = timingRows.length;
        const newTimingRow = createTimingRow(index);
        
        if (timingRows.length === 0) {
            // If no timing rows are present, append the newTimingRow as the first child of timingContainer
            timingContainer.appendChild(newTimingRow);
        } else {
            // Get the last timing row
            const lastTimingRow = timingRows[timingRows.length - 1];
            
            // Insert the newTimingRow after the lastTimingRow
            lastTimingRow.insertAdjacentElement('afterend', newTimingRow);
        }
        
        newTimingRow.getElementsByClassName("deleteTimingButton")[0].addEventListener('click', deleteTiming);
    }

    // Function to handle the click event of the Delete Timing button
    function deleteTiming(event) {
        const timingContainer = document.getElementById('timingContainer');
        const timingRows = timingContainer.getElementsByClassName('timingRow');
        const index = event.target.getAttribute('data-index');
        if (index <= timingRows.length && timingRows.length > 1) {
            timingContainer.removeChild(timingRows[index]);
            return;
        }

        // Check if the last timing row is deleted
        if (timingRows.length === 1) {
            if (confirm("Are you sure you want to delete this weekly task?")) {
                document.getElementById('editTaskForm').action = "/timetable/<%= task._id %>?_method=DELETE";
                document.getElementById('editTaskForm').submit();
            }
        }
    }

    <% if (task.isAssigned) { %>
    // Add event listener for the Add Timing button
    const addTimingButton = document.querySelector('.addTimingButton');
    addTimingButton.addEventListener('click', addTiming);

    // Add event listener for the Delete Timing buttons
    const deleteTimingButtons = document.getElementsByClassName('deleteTimingButton');
    Array.from(deleteTimingButtons).forEach((button) => {
        button.addEventListener('click', deleteTiming);
    });
    <% } %>

    // Function to check for timing conflicts with existing timings
    function checkTimingConflicts() {
        // Get the form element:
        const form = document.getElementById('editTaskForm');
        
        // Get the timing rows
        const timingRows = Array.from(document.getElementsByClassName('timingRow'));

        // Get the values of the submitted timings:
        const submittedTimings = timingRows.map((row) => ({
            day: row.querySelector('select[name^="task[timings]"][name$="[day]"]').value,
            timingStart: row.querySelector('select[name^="task[timings]"][name$="[timingStart]"]').value,
            timingEnd: row.querySelector('select[name^="task[timings]"][name$="[timingEnd]"]').value
        }));

        // Check if all timings are valid:
        let hasInvalidTiming = false;
        for (let timing of submittedTimings) {
            if (timing.timingStart >= timing.timingEnd) {
                hasInvalidTiming = true;
            }
        }
        if (hasInvalidTiming) {
            alert("Starting time must be earlier than Ending time.")
            return false;
        }
        
        // Helper function to check if timings conflict:
        function doTimingsConflict(timingA, timingB) {
            return (
                timingA.day === timingB.day &&
                timingA.timingStart < timingB.timingEnd &&
                timingA.timingEnd > timingB.timingStart
            );
        }

        // Check if timings within this task conflict:
        let internalConflict = false;
        for (let i = 0; i < submittedTimings.length; i++) {
            for (let j = i + 1; j < submittedTimings.length; j++) {
                const timingA = submittedTimings[i];
                const timingB = submittedTimings[j];
                if (doTimingsConflict(timingA, timingB)) {
                    internalConflict = true;
                }
            }
        }
        if (internalConflict) {
            alert('The submitted timings conflict with other timings of the current task.');
            return false;
        }

        // Check if timings conflict with timings of existing units:
        const existingUnitTimings = JSON.parse('<%- JSON.stringify(existingTimingsList) %>');
        console.log(existingUnitTimings)

        let externalConflict = false;
        for (let i = 0; i < submittedTimings.length; i++) {
            for (let j = 0; j < existingUnitTimings.length; j++) {
                const timingA = submittedTimings[i];
                const timingB = existingUnitTimings[j];
                if (doTimingsConflict(timingA, timingB)) {
                    console.log(timingA);
                    console.log(timingB)
                    externalConflict = true;
                }
            }
        }
        if (externalConflict) {
            alert('The submitted timings conflict with other timings of an existing unit.');
            return false;
        }

        // If no conflicts are found, allow form submission
        return true;
    }

    // Add event listener to the form submit event
    const editTaskForm = document.getElementById('editTaskForm');
    editTaskForm.addEventListener('submit', (event) => {
        const isFormValid = checkTimingConflicts();
        // Check if releasedOn is before deadline:
        let releasedIsBeforeDeadline = true;
        const days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
        if (days.indexOf(document.querySelector('#releasedOn').value) > days.indexOf(document.querySelector('#deadline').value)) {
            alert('The task cannot have a Deadline before it is Released!');
            releasedIsBeforeDeadline = false;
        }
        if (!isFormValid || !releasedIsBeforeDeadline) {
            event.preventDefault(); // Prevent form submission if there are conflicts
        }
    });


    const deleteTaskButton = document.getElementById('deleteTaskButton');
    deleteTaskButton.addEventListener('click', () => {
        if (confirm("Are you sure you want to delete this Task?")) {
            document.getElementById('editTaskForm').action = "/timetable/<%= task._id %>?_method=DELETE";
            document.getElementById('editTaskForm').submit();
        }
    });
</script>