<% layout('layouts/boilerplate')%>
<div id="tasksBodyContainer">
    <div class="taskIndexTitleRow">
        <h1 class="pageTitle">Tasks</h1>
        <div class="assignButton button">Assign</div>
    </div>
    <div class="tasksBody">
    <% for (let weeklyTask of weeklyTasks) { %>
        <div class="task" style="<% if (!weeklyTask.isAssigned) { %> border: 1px solid red; <% } %>" onclick="window.location.href = '/weekly-tasks/<%= weeklyTask._id %>/edit'" >
            <h5><%= weeklyTask.title %></h5>
            <h6><span style="opacity: 0.7; font-size: 0.85rem;">Released on:</span> <%= weeklyTask.releasedOn %></h6>
            <h6><span style="opacity: 0.7; font-size: 0.85rem;">Deadline:</span> <%= weeklyTask.deadline %></h6>
            <h6><span style="opacity: 0.7; font-size: 0.85rem;">Duration:</span> <%= weeklyTask.duration %> Hrs</h6>
            <% if (weeklyTask.isAssigned) { %>
                <h6><span style="opacity: 0.7; font-size: 0.85rem; colour: white">Assigned</h6>
            <% } else { %>
                <h6><span style="opacity: 0.7; font-size: 0.85rem; color: red">Unassigned</h6>
            <% } %>
        </div>
    <% } %>
    </div>
</div>
<script>
    const weeklyTasks = JSON.parse('<%- JSON.stringify(weeklyTasks) %>');
    const assignButton = document.getElementsByClassName('assignButton')[0];
    assignButton.addEventListener('click', function() {
        // No unassigned tasks
        if (weeklyTasks.filter(task => !task.isAssigned).length <= 0) {
            alert('You have no unassigned tasks!');
        } else {
            window.location.href = '/calculate';
        }
    });
</script>

