<% layout('layouts/boilerplate')%>
<h1 style="text-align: center; text-decoration: underline;">TIMETABLE</h1>
<div class="container mt-5" style="max-width: 100%;">
    <ul style="display: grid; grid-template-columns: repeat(5, 1fr);">
        <%
        let mondayLessons = lessons.filter(x => x.day == "Monday");
        let tuesdayLessons = lessons.filter(x => x.day == "Tuesday");
        let wednesdayLessons = lessons.filter(x => x.day == "Wednesday");
        let thursdayLessons = lessons.filter(x => x.day == "Thursday");
        let fridayLessons = lessons.filter(x => x.day == "Friday");
        %>
        <% if (mondayLessons) { %>
            <div class="mondayContainer" style="height: fit-content">
            <h3 style="text-align: center;">Monday</h1>
                <% for (lesson of mondayLessons) {%>
                    <%- include('../partials/lesson-row', { lesson: lesson }) %>
                <% } %>
            </div>
        <%}%>
        <% if (tuesdayLessons) { %>
            <div class="tuesdayContainer" style="height: fit-content">
            <h3 style="text-align: center;">Tuesday</h1>
                <% for (lesson of tuesdayLessons) {%>
                    <%- include('../partials/lesson-row', { lesson: lesson }) %>
                <% } %>
            </div>
        <%}%>
        <% if (wednesdayLessons) { %>
            <div class="wednesdayContainer" style="height: fit-content">
            <h3 style="text-align: center;">Wednesday</h1>
                <% for (lesson of wednesdayLessons) {%>
                    <%- include('../partials/lesson-row', { lesson: lesson }) %>
                <% } %>
            </div>
        <%}%>
        <% if (thursdayLessons) { %>
            <div class="thursdayContainer" style="height: fit-content">
            <h3 style="text-align: center;">Thursday</h1>
                <% for (lesson of thursdayLessons) {%>
                    <%- include('../partials/lesson-row', { lesson: lesson }) %>
                <% } %>
            </div>
        <%}%>
        <% if (fridayLessons) { %>
            <div class="fridayContainer" style="height: fit-content">
            <h3 style="text-align: center;">Friday</h1>
                <% for (lesson of fridayLessons) {%>
                    <%- include('../partials/lesson-row', { lesson: lesson }) %>
                <% } %>
            </div>
        <%}%>
    </ul>
</div>

