<% layout('layouts/boilerplate')%>
<div id="timetableBodyContainer">
    <div class="timetableHeadingContainer">
        <h1 class="timetableTitle">Timetable</h1>
        <div class="timetableOptionsContainer">
            <div class="timetableOptionsTopRow">
                <div class="timetablePeriodButton timetablePeriodButtonSelected">Week</div>
                <div class="timetablePeriodButton">Month</div>
            </div>
            <div class="timetableWeeklyRow">
                <img class="timetableWeeklyArrow" src="../../icons/timetable-left-arrow.png" alt="Left weekly timetable arrow icon">
                <div class="timetableWeek">13.05.2023 - 20.05.2023</div>
                <img class="timetableWeeklyArrow" src="../../icons/timetable-right-arrow.png" alt="Right weekly timetable arrow icon">
            </div>
        </div>
    </div>
    <div class="timetableContainer">
        <div class="timingColumn">
            <% for (let r=8; r <= 18; r++) { %>
                <div class="timingLabel"><%= r + ":00" %></div>
            <% } %>        
        </div>
        <% const daysOfWeek = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]; %>
        <% for (let day of daysOfWeek) { %>
            <div class="dayColumn">
                <p class="dayLabel"><%= day %></p>
                <% for (let r=8; r < 18; r++) { %>
                    <% let unitFound = units.find(unit => unit.timings.some(timing => timing.day == day && parseInt(timing.timingStart.substring(0, 2)) <= r && parseInt(timing.timingEnd.substring(0, 2)) > r)) %>
                    <% if (unitFound) { %>
                        <% const unitTiming = unitFound.timings.find(timing => timing.day == day && parseInt(timing.timingStart.substring(0, 2)) <= r && parseInt(timing.timingEnd.substring(0, 2)) > r) %>
                        <% let unitDuration = parseInt(unitTiming.timingEnd.substring(0, 2)) - parseInt(unitTiming.timingStart.substring(0, 2)); %>
                        <div class="timetableBlock unitBlock" unit_id="<%= unitFound._id %>" style="background-color: <%= unitFound.colour %>; height: <%= (70 * unitDuration) + (4 * (unitDuration - 1)) %>px;" <% if (unitFound.type == "Lesson") { %> onclick="window.location.href = '/timetable/<%= unitFound._id %>/edit'" <% } else { %> onclick="window.location.href = '/weekly-tasks/<%= unitFound._id %>/edit'" <% } %>>
                            <%= unitFound.title %>
                        </div>
                        <% r = parseInt(unitTiming.timingEnd.substring(0, 2)) - 1; %>
                    <% } else { %>
                    <div class="timetableBlock"></div>
                    <% } %>
                <% } %>
            </div>
        <% } %>
    </div>
</div>
<script>
    // Make same lesson cells hover the same:
    const cells = document.querySelectorAll(".unitBlock");
    cells.forEach(cell => {
        cell.addEventListener('mouseover', () => {
            const sameUnitCells = document.querySelectorAll(`[unit_id="${cell.getAttribute('unit_id')}"]`);
            for (const sameUnitCell of sameUnitCells) {
                sameUnitCell.style.opacity = 0.8;
                sameUnitCell.style.transform = 'scale(1.04)';
            }
        })
        cell.addEventListener('mouseout', function() {
            const sameUnitCells = document.querySelectorAll(`[unit_id="${cell.getAttribute('unit_id')}"]`);
            for (const sameUnitCell of sameUnitCells) {
                sameUnitCell.style.opacity = 1;
                sameUnitCell.style.transform = 'scale(1)';
            }
        });
    });
</script>

<!--
            <table class="timetable">
            <thead>
            <tr>
                <% const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]; %>
                <% var today = new Date(); %>
                <% var dayOfWeekString = days[today.getDay()]; %>
                <% for (let i = 1; i < 6; i++) { %>
                    <% if (i == 1) { %>
                        <th></th>
                    <% } %>
                    <% if (days[i] == dayOfWeekString) { %> 
                        <th class="timetableDayHeader" style="font-weight: 900;"><%= days[i] %></th>
                    <% } else { %> 
                        <th class="timetableDayHeader" style="font-weight: 500;"><%= days[i] %></th>
                    <% } %>
                <% } %>
            </tr>
            </thead>
            <tbody>
            <% for (let r=8; r < 18; r++) { %>
                <tr>
                <% for (let c = 1; c < 7; c++) { %>
                    <% let unitFound = units.find(unit => unit.timings.some(timing => timing.day == days[c - 1] && parseInt(timing.timingStart.substring(0, 2)) <= r && parseInt(timing.timingEnd.substring(0, 2)) > r)) %>
                    <% if (c == 1) { %>
                        <td class="timetableTimingLabels"><%= r + ":00 "%></td>
                    <% } else if (unitFound) { %>
                        <% const unitTiming = unitFound.timings.find(timing => timing.day == days[c - 1] && parseInt(timing.timingStart.substring(0, 2)) <= r && parseInt(timing.timingEnd.substring(0, 2)) > r) %>
                        <% if (parseInt(unitTiming.timingStart.substring(0, 2)) == r) { // First cell in unit: %>
                            <td class="<%= unitFound._id %> lesson-cell" style="background-color: <%= unitFound.colour %>; <% if (parseInt(unitTiming.timingEnd.substring(0, 2)) != r + 1) { %> border-bottom: 0px; <% } %>" <% if (unitFound.type === "Lesson") { %>
                                onclick="window.location.href = '/timetable/<%= unitFound._id %>/edit'"
                            <% } else if (unitFound.type === "WeeklyTask") { %>
                                onclick="window.location.href = '/weekly-tasks/<%= unitFound._id %>/edit'"
                            <% } %>
                        ><%= unitFound.title %></td>
                        <% } else { // Not first cell in unit: %>
                            <td class="<%= unitFound._id %> lesson-cell" style="background-color: <%= unitFound.colour %>; border-top: 0px; <% if (parseInt(unitTiming.timingEnd.substring(0, 2)) != r + 1) { %> border-bottom: 0px; <% } %>" 
                                <% if (unitFound.type === "Lesson") { %>
                                    onclick="window.location.href = '/timetable/<%= unitFound._id %>/edit'"
                                <% } else if (unitFound.type === "WeeklyTask") { %>
                                    onclick="window.location.href = '/weekly-tasks/<%= unitFound._id %>/edit'"
                                <% } %>
                            ></td>                        
                        <% } %>
                    <% } else { %>
                        <td class="empty-cell"></td>
                    <% } %>
                <% } %>
                </tr>
            <% } %>
            </tbody>
        </table>
-->
