<% layout('layouts/boilerplate')%>
<div id="indexPageBody">
<div id="timetableBodyContainer">
    <div id="loadingScreenWrapper">
        <div class="loading">
        </div>
    </div>
    <div id="indexOverlay"></div>
    <div id="indexEditLessonContainer" class="indexEditContainer">
        <h3 class="indexEditLessonContainerTitle">Edit Lesson:</h3>
        <div class="editInputRow">
            <label class="form-label" for="editLessonTitle">Title</label>
            <input class="form-control" type="text" id="editLessonTitle" required>
        </div>
        <div class="editInputRow">
            <label class="form-label" for="editLessonColour">Colour</label>
            <select class="form-select" id="editLessonColour" name="lesson[colour]" required>
                <option class="" value="" selected disabled>Select a colour</option>
                <option class="Red" value="#C62828">Red</option>
                <option class="Blue" value="#1565C0">Blue</option>
                <option class="Green" value="#2E7D32">Green</option>
                <option class="Yellow" value="#FFA000">Yellow</option>
                <option class="Purple" value="#6A1B9A">Purple</option>
                <option class="Orange" value="#F08731">Orange</option>
            </select>
        </div>
        <div class="editInputRow" id="editLessonTimingContainer">
            <div class="editNewLessonTimingRow editTimingRow">
                <div class="indexTimingColumn">
                    <label class="form-label" for="editLessonNewDay">Day</label>
                    <select class="form-select" id="editLessonNewDay" onchange="handleEditDayChange('Lesson')" required>
                        <option value="" selected disabled>Select a day</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>            
                </div>
                <div class="indexTimingColumn">
                    <label class="form-label" for="editLessonNewTimingStart">Start</label>
                    <select class="form-select" id="editLessonNewTimingStart" onchange="handleEditStartChange('Lesson')" disabled required>
                        <option value="" selected disabled>Select a starting time</option>
                        <% for (let j = 8; j <= 22; j++) { %>
                            <% let time = j < 10 ? '0' + j : j; %>
                            <option value="<%= time %>00"><%= time %>:00</option>
                        <% } %>
                    </select>
                </div>
                <div class="indexTimingColumn">
                    <label class="form-label" for="editLessonNewTimingEnd">End</label>
                    <select class="form-select" id="editLessonNewTimingEnd" onchange="handleEditLessonEndChange(this)" disabled required>
                        <option value="" selected disabled>Select an ending time</option>
                        <% for (let j = 8; j <= 22; j++) { %>
                            <% let time = j < 10 ? '0' + j : j; %>
                            <option value="<%= time %>00"><%= time %>:00</option>
                        <% } %>
                    </select>
                </div>
            </div>
        </div>

        <div class="indexEditButtonsRow">
            <div class="indexEditCancelButton button" onclick="hideEditContainer('Lesson')">Cancel</div>
            <div class="indexEditDeleteButton button">Delete</div>
            <div class="indexEditSubmitButton button" id="indexEditLessonSubmitButton">Submit</div>
        </div>
    </div>

    <div id="indexEditTaskContainer" class="indexEditContainer">
        <h3 class="indexEditTaskTitle">Edit Task:</h3>
        <div class="editInputRow">
            <label class="form-label" for="editTaskTitle">Title</label>
            <input class="form-control" type="text" id="editTaskTitle" required>
        </div>
        <div class="editInputRow" id="editTaskTimingContainer">
            <div class="editNewTaskTimingRow editTimingRow">
                <div class="indexTimingColumn">
                    <label class="form-label" for="editTaskNewDay">Day</label>
                    <select class="form-select" id="editTaskNewDay" onchange="handleEditDayChange('Task')" required>
                        <option value="" selected disabled>Select a day</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>            
                </div>
                <div class="indexTimingColumn">
                    <label class="form-label" for="editTaskNewTimingStart">Start</label>
                    <select class="form-select" id="editTaskNewTimingStart" onchange="handleEditStartChange('Task')" disabled required>
                        <option value="" selected disabled>Select a starting time</option>
                        <% for (let j = 8; j <= 22; j++) { %>
                            <% let time = j < 10 ? '0' + j : j; %>
                            <option value="<%= time %>00"><%= time %>:00</option>
                        <% } %>
                    </select>
                </div>
                <div class="indexTimingColumn">
                    <label class="form-label" for="editTaskNewTimingEnd">End</label>
                    <select class="form-select" id="editTaskNewTimingEnd" onchange="handleEditTaskEndChange(this)" disabled required>
                        <option value="" selected disabled>Select an ending time</option>
                        <% for (let j = 8; j <= 22; j++) { %>
                            <% let time = j < 10 ? '0' + j : j; %>
                            <option value="<%= time %>00"><%= time %>:00</option>
                        <% } %>
                    </select>
                </div>
            </div>
        </div>

        <div class="indexEditButtonsRow">
            <div class="indexEditCancelButton button" onclick="hideEditContainer('Task')">Cancel</div>
            <div class="indexEditDeleteButton button">Delete</div>
            <div class="indexEditSubmitButton button" id="indexEditTaskSubmitButton">Submit</div>
        </div>
    </div>

    <div id="indexEditAssignmentContainer" class="indexEditContainer">
        <h3 class="indexEditAssignmentTitle">Edit Assignment:</h3>
        <div class="editInputRow">
            <label class="form-label" for="editAssignmentTitle">Title</label>
            <input class="form-control" type="text" id="editAssignmentTitle" required>
        </div>
        <div class="editInputRow" id="editAssignmentTimingContainer">
            <div class="editNewAssignmentTimingRow editTimingRow">
                <div class="indexTimingColumn">
                    <label class="form-label" for="editAssignmentDate">Date</label>
                    <input type="date" id="editAssignmentDate" onchange="handleEditDayChange('Assignment')">        
                </div>
                <div class="indexTimingColumn">
                    <label class="form-label" for="editAssignmentNewTimingStart">Start</label>
                    <select class="form-select" id="editAssignmentNewTimingStart" onchange="handleEditStartChange('Assignment')" disabled required>
                        <option value="" selected disabled>Select a starting time</option>
                        <% for (let j = 8; j <= 22; j++) { %>
                            <% let time = j < 10 ? '0' + j : j; %>
                            <option value="<%= time %>00"><%= time %>:00</option>
                        <% } %>
                    </select>
                </div>
                <div class="indexTimingColumn">
                    <label class="form-label" for="editAssignmentNewTimingEnd">End</label>
                    <select class="form-select" id="editAssignmentNewTimingEnd" onchange="handleEditAssignmentEndChange(this)" disabled required>
                        <option value="" selected disabled>Select an ending time</option>
                        <% for (let j = 8; j <= 22; j++) { %>
                            <% let time = j < 10 ? '0' + j : j; %>
                            <option value="<%= time %>00"><%= time %>:00</option>
                        <% } %>
                    </select>
                </div>
            </div>
        </div>

        <div class="indexEditButtonsRow">
            <div class="indexEditCancelButton button" onclick="hideEditContainer('Assignment')">Cancel</div>
            <div class="indexEditDeleteButton button">Delete</div>
            <div class="indexEditSubmitButton button" id="indexEditAssignmentSubmitButton">Submit</div>
        </div>
    </div>

    <div class="timetableHeadingContainer">
        <h1 class="timetableTitle">Timetable</h1>
        <div class="timetableOptionsContainer">
            <div class="timetableOptionsTopRow">
                <a class="timetablePeriodButton <% if (weekOrMonth == 'week') { %> timetablePeriodButtonSelected <% } %>" href="/timetable/week/today">Week</a>
                <a class="timetablePeriodButton <% if (weekOrMonth == 'month') { %> timetablePeriodButtonSelected <% } %>" href="/timetable/month/today">Month</a>
            </div>
            <div class="timetableWeeklyRow">
                <img class="timetableArrow timetableLeftArrow" src="../../icons/timetable-left-arrow.png" alt="Left weekly timetable arrow icon">
                <div class="timetableWeek" style="<%= weekOrMonth == 'month' ? "font-size: 1.5rem;" : "" %>"><%= formattedPeriod %></div>
                <img class="timetableArrow timetableRightArrow" src="../../icons/timetable-right-arrow.png" alt="Right weekly timetable arrow icon">
            </div>
        </div>
    </div>
    <div class="timetableContainer">
        <% if (weekOrMonth == 'week') { %>
            <div class="timingColumn">
                <% for (let r=8; r <= 22; r++) { %>
                    <div class="timingLabel"><%= r + ":00" %></div>
                <% } %>
            </div>
            <% var todayDate = new Date(); %>
            <% var todayNum = todayDate.getDay(); %>
            <% const daysOfWeek = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]; %>
            <% var today = daysOfWeek[todayNum == 0 ? 6 : todayNum - 1]; %>
            <% const parts = formattedPeriod.split(" - "); %>
            <% const startOfWeekDate = new Date(parts[0]); %>
            <% const timeDifference = todayDate.getTime() - startOfWeekDate.getTime(); %>
            <% for (let day of daysOfWeek) { %>
                <div class="dayColumn">
                    <p class="dayLabel <%= ((day == today) && (timeDifference > 0) && (timeDifference <= 7 * 24 * 60 * 60 * 1000)) ? 'glowing-text' : '' %>"><%= day %></p>
                    <% const dayDate = new Date(startOfWeekDate.getTime()); %>
                    <% dayDate.setDate(dayDate.getDate() + daysOfWeek.indexOf(day)); %>
                    <% const dayString = `${dayDate.getFullYear()}-${(dayDate.getMonth() + 1).toString().padStart(2, '0')}-${dayDate.getDate().toString().padStart(2, '0')}`; %>
                    <% for (let r=8; r < 22; r++) { %>
                        <% let unitFound = modules.filter(module => module.type != 'Assignment').find(unit => unit.timings.some(timing => timing.day == day && parseInt(timing.timingStart.substring(0, 2)) <= r && parseInt(timing.timingEnd.substring(0, 2)) > r)) %>
                        <% if (!unitFound) { %>
                            <% unitFound = units.filter(unit => unit.type == 'Assignment').find(unit => unit.timings.some(timing => timing.date === dayString && parseInt(timing.timingStart.substring(0, 2)) <= r && parseInt(timing.timingEnd.substring(0, 2)) > r)) %>
                        <% } %>
                        <% if (unitFound) { %>
                            <% const unitTiming = unitFound.timings.find(timing => (timing.day == day || timing.date == dayString) && parseInt(timing.timingStart.substring(0, 2)) <= r && parseInt(timing.timingEnd.substring(0, 2)) > r) %>
                            <% let unitDuration = parseInt(unitTiming.timingEnd.substring(0, 2)) - parseInt(unitTiming.timingStart.substring(0, 2)); %>
                            <div class="timetableBlock unitBlock" unit_id="<%= unitFound._id %>" style="background-color: <%= unitFound.colour %>; height: <%= (50 * unitDuration) + (4 * (unitDuration - 1)) %>px;"  <% if (unitFound.type == 'Lesson') { %> onclick="showEditLessonContainer('<%= JSON.stringify(unitFound) %>')" <% } else if (unitFound.type == 'WeeklyTask') { %> onclick="showEditTaskContainer('<%= JSON.stringify(unitFound) %>')" <% } else { %> onclick="showEditAssignmentContainer('<%= JSON.stringify(unitFound) %>')" <% } %>>
                                <%= unitFound.title %>
                            </div>
                            <% r = parseInt(unitTiming.timingEnd.substring(0, 2)) - 1; %>
                        <% } else { %>
                        <div class="timetableBlock <%= ((day == today) && (timeDifference > 0) && (timeDifference <= 7 * 24 * 60 * 60 * 1000)) ? 'glowingBlock' : '' %>"></div>
                        <% } %>
                    <% } %>
                </div>
            <% } %>
        <% } else if (weekOrMonth == 'month') { %>
            <% 
                // Helper functions for month display:
                function getDaysInMonth(formattedPeriod) {
                    const monthNames = [
                        "January", "February", "March", "April", "May", "June",
                        "July", "August", "September", "October", "November", "December"
                    ];
                    const month = formattedPeriod.split(' ')[0];
                    const monthIndex = monthNames.findIndex(m => m === month);
                    const date = new Date(2023, monthIndex + 1, 0);
                    return date.getDate();
                }
            
                function getStartingDay(formattedPeriod) {
                    const monthNames = [
                        "January", "February", "March", "April", "May", "June",
                        "July", "August", "September", "October", "November", "December"
                    ];
                    const month = formattedPeriod.split(' ')[0];
                    const year = formattedPeriod.split(' ')[1];
                                
                    const monthIndex = monthNames.findIndex(m => m === month);
                    const date = new Date(year, monthIndex, 1);
                    const startingDay = date.getDay();
                                
                    return (startingDay + 6) % 7 + 1;
                }

                function getPreviousMonth() {
                    const monthNames = [
                        "January", "February", "March", "April", "May", "June",
                        "July", "August", "September", "October", "November", "December"
                    ];
                    const currentMonth = formattedPeriod.split(' ')[0];
                    const currentMonthIndex = monthNames.indexOf(currentMonth);
                    const previousMonthIndex = (currentMonthIndex + 11) % 12;
                    return monthNames[previousMonthIndex];
                }
            
                function getDayNumber(column, row, startingDay, daysInMonth) {
                    const emptyCells = startingDay;
                    const currentCell = column + row * 7;
                    const dayNumber = currentCell - emptyCells + 1;
            
                    if (dayNumber > 0 && dayNumber <= daysInMonth) {
                        return dayNumber;
                    } else if (dayNumber <= 0) {
                        const prevMonthDays = getDaysInMonth(getPreviousMonth());
                        return -(prevMonthDays + dayNumber);
                    } else {
                        return -(dayNumber - daysInMonth);
                    }
                }
            %>
            
            <div class="monthContainer">
                <% const daysOfWeekMonthly = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]; %>
                <% const monthNames = [
                    "January", "February", "March", "April", "May", "June",
                    "July", "August", "September", "October", "November", "December"
                    ]; %>
                <% const daysInMonth = getDaysInMonth(formattedPeriod); %>
                <% const startingDay = getStartingDay(formattedPeriod); %>
                
                <% for (let c = 0; c < 7; c++) { %>
                    <div class="monthColumn">
                        <h4 class="monthHeader"><%= daysOfWeekMonthly[c] %></h4>
                        <% for (let r = 0; r < 6; r++) { %>
                            <% const dayNumber = getDayNumber(c, r, startingDay, daysInMonth); %>
                            <div class="monthDay <%= dayNumber < 0 ? 'notCurrentMonthDay' : '' %>">
                                <div class="notCurrentMonthDayOverlay"></div>
                                <div class="monthDayTopRow">
                                    <%= Math.abs(dayNumber) %>
                                </div>
                                <div class="monthDayBottomRow">
                                    <% 
                                        const parts = formattedPeriod.split(' ');
                                        const year = parts[1];
                                        let month = monthNames.indexOf(parts[0]);
                                        if (dayNumber < 0) {
                                            if (Math.abs(dayNumber) > 15) {
                                                month -= 1;
                                                if (month < 0) {
                                                    month = 11;
                                                }
                                            } else {
                                                month += 1;
                                                if (month > 11) {
                                                    month = 0;
                                                }
                                            }
                                        }
                                        const dayDateString = `${year}-${(month+1).toString().padStart(2, '0')}-${Math.abs(dayNumber).toString().padStart(2, '0')}`;
                                        const unitsToday = units.reduce((result, unit) => {
                                            let timings = [];
                                            if (unit.type != 'Assignment') {
                                                timings = unit.timings.filter(timing => timing.day === daysOfWeekMonthly[c]);
                                            } else {
                                                timings = unit.timings.filter(timing => timing.date === dayDateString);
                                            }
                                            
                                            if (timings.length > 0) {
                                                timings.forEach(timing => {
                                                    result.push({
                                                    _id: unit._id,
                                                    title: unit.title,
                                                    timing: { timingStart: timing.timingStart, timingEnd: timing.timingEnd },
                                                    colour: unit.colour
                                                    });
                                                });
                                            }
                                            return result;
                                        }, []);
                                    %>
                                    <% for (let unitFound of unitsToday) { %>
                                        <div class="monthDayUnit" unit-title="<%= unitFound.title %>" unit-timing="<%= unitFound.timing.timingStart + ' - ' + unitFound.timing.timingEnd %>" style="background-color: <%= unitFound.colour %>;"  <% if (unitFound.type == 'Lesson') { %> onclick="showEditLessonContainer('<%= JSON.stringify(units.find(unit => unit._id == unitFound._id)) %>')" <% } else if (unitFound.type == 'WeeklyTask') { %> onclick="showEditTaskContainer('<%= JSON.stringify(units.find(unit => unit._id == unitFound._id)) %>')" <% } else { %> onclick="showEditAssignmentContainer('<%= JSON.stringify(units.find(unit => unit._id == unitFound._id)) %>')" <% } %>></div>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } %>
                <div id="monthlyUnitPopup">
                    <h3 class="monthlyUnitPopupTitle"></h3>
                    <p class="monthlyUnitPopupTiming"></p>
                </div>
            </div>
        <% } %>
    </div>
</div>
<div class="indexSideContainer">
    <div class="nusModsFormContainer">
        <h2 class="nusModsFormTitle">Use your NUSMods Link here</h2>
        <p class="nusModsFormDescription">Simply fill in your timetable in NUSMods and click Share/Sync, then paste your timetable's link here!</p>
        <div class="nusModsFormInputRow">
            <input id="nusModsFormInput" class="nusModsFormInput" type="text">
            <div id="nusModsFormSubmitButton" class="nusModsFormSubmitButton button">Import</div>
        </div>      
    </div>
    <div class="indexNewLessonFormDropdownButton button" onclick="expandNewForm('Lesson')">+ New Lesson</div>
    <form id="indexNewLessonForm" action='/timetable' method='POST'>
        <div class="indexInputRow">
            <label class="form-label" for="lessonTitle">Title</label>
            <input class="form-control" type="text" id="lessonTitle" required>
        </div>
        <div class="indexInputRow">
            <label class="form-label" for="colour">Colour</label>
            <select class="form-select" id="colour" required>
                <option value="" selected disabled>Select a colour</option>
                <option value="#C62828">Red</option>
                <option value="#1565C0">Blue</option>
                <option value="#2E7D32">Green</option>
                <option value="#FFA000">Yellow</option>
                <option value="#6A1B9A">Purple</option>
                <option value="#F08731">Orange</option>
            </select>
        </div>

        <div class="indexInputRow">
            <div class="indexTimingColumn">
                <label class="form-label" for="day">Day</label>
                <select class="form-select" id="day" onchange="handleDayChange(this)" required>
                    <option value="" selected disabled>Select a day</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>            
            </div>
            <div class="indexTimingColumn">
                <label class="form-label" for="timingStart">Start</label>
                <select class="form-select" id="timingStart" onchange="handleStartChange(this)" disabled required>
                    <option value="" selected disabled>Select a starting time</option>
                    <% for (let j = 8; j <= 22; j++) { %>
                        <% let time = j < 10 ? '0' + j : j; %>
                        <option value="<%= time %>00"><%= time %>:00</option>
                    <% } %>
                </select>
            </div>
            <div class="indexTimingColumn">
                <label class="form-label" for="timingEnd">End</label>
                <select class="form-select" id="timingEnd" onchange="handleEndChange(this)" disabled required>
                    <option value="" selected disabled>Select an ending time</option>
                    <% for (let j = 8; j <= 22; j++) { %>
                        <% let time = j < 10 ? '0' + j : j; %>
                        <option value="<%= time %>00"><%= time %>:00</option>
                    <% } %>
                </select>
            </div>
        </div>
        <div id="selectedRows"></div>
        <div class="indexFormsBottomRow">
            <div class="indexCancelNewLessonButton indexCancelButton button" onclick="cancelNewForm('Lesson')">Cancel</div>
            <div class="indexSubmitNewLessonButton indexSubmitButton button" type="submit">Submit</div>
        </div>
    </form>
    <div class="indexNewTaskFormDropdownButton button" onclick="expandNewForm('Task')">+ New Task</div>
    <form id="indexNewTaskForm">
        <div class="indexInputRow">
            <label class="form-label" for="taskTitle">Title</label>
            <input class="form-control" type="text" id="taskTitle" required>
        </div>
        <div class="indexInputRow">
            <label class="form-label" for="duration">Duration (in hours)</label>
            <input class="form-control" type="number" id="taskDuration" required>
        </div>
        <div class="indexInputRow">
            <label class="form-label" for="releasedOn">Released On</label>
            <select class="form-select" id="releasedOn" required>
                <option value="" selected disabled>Select a day</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
            <label class="form-label previousWeekLabel" for="previousWeekOption">Previous Week</label>
            <input id="previousWeekOption" type="checkbox">
        </div>
        <div class="indexInputRow">
            <label class="form-label" for="deadline">Deadline</label>
            <select class="form-select" id="deadline" required>
                <option value="" selected disabled>Select a day</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
        </div>
        <div class="indexFormsBottomRow">
            <div class="indexCancelNewTaskButton indexCancelButton button" onclick="cancelNewForm('Task')">Cancel</div>
            <div class="indexSubmitNewTaskButton indexSubmitButton button">Submit</div>
        </div>
    </form>
    <div class="indexNewAssignmentFormDropdownButton button" onclick="expandNewForm('Assignment')">+ New Assignment</div>
    <form id="indexNewAssignmentForm">
        <div class="indexInputRow">
            <label class="form-label" for="assignmentTitle">Title</label>
            <input class="form-control" type="text" id="assignmentTitle" required>
        </div>
        <div class="indexInputRow">
            <label class="form-label" for="assignmentDuration">Duration (in hours)</label>
            <input class="form-control" type="number" id="assignmentDuration" required>
        </div>
        <div class="indexInputRow">
            <label class="form-label" for="releasedOnDate">Released On (Date)</label>
            <input type="date" class="form-label" id="releasedOnDate">
        </div>
        <div class="indexInputRow">
            <label class="form-label" for="deadlineDate">Deadline (Date)</label>
            <input type="date" class="form-label" id="deadlineDate">
        </div>
        <div class="indexFormsBottomRow">
            <div class="indexCancelNewAssignmentButton indexCancelButton button" onclick="cancelNewForm('Assignment')">Cancel</div>
            <div class="indexSubmitNewAssignmentButton indexSubmitButton button">Submit</div>
        </div>
    </form>
    <hr class="indexFormBorder">
    <h2 class="indexListHeader">TODAY</h2>
    <div class="indexListContainer">
        <% var todayDate = new Date() %>
        <% var todayDateString = `${todayDate.getFullYear()}-${(todayDate.getMonth() + 1).toString().padStart(2, '0')}-${todayDate.getDate().toString().padStart(2, '0')}`; %>
        <% var todayNum = todayDate.getDay(); %>
        <% const daysOfWeek = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]; %>
        <% var today = daysOfWeek[todayNum == 0 ? 6 : todayNum - 1]; %>
        <% const todaysUnits = units.reduce((result, unit) => {
            let timings = [];
            if (unit.type != 'Assignment') {
                timings = unit.timings.filter(timing => timing.day === today);
            } else {
                timings = unit.timings.filter(timing => timing.date === todayDateString);
            }
            
            if (timings.length > 0) {
                timings.forEach(timing => {
                    result.push({
                    _id: unit._id,
                    title: unit.title,
                    timing: { timingStart: timing.timingStart, timingEnd: timing.timingEnd },
                    colour: unit.colour
                    });
                });
            }
            return result;
        }, []); %>
        <% todaysUnits.sort((a, b) => a.timing.timingStart - b.timing.timingStart); %>
        <% for (let unit of todaysUnits) { %>
            <div class="indexListUnit" style="background-color: <%= unit.colour %>;" <% if (unit.type == 'Lesson') { %> onclick="showEditLessonContainer('<%= JSON.stringify(unit) %>')" <% } else if (unit.type == 'WeeklyTask') { %> onclick="showEditTaskContainer('<%= JSON.stringify(unit) %>')" <% } else { %> onclick="showEditAssignmentContainer('<%= JSON.stringify(unit) %>')" <% } %>><%= unit.title %> at <%= unit.timing.timingStart %> - <%= unit.timing.timingEnd %></div>
        <% } %>
    </div>
</div>
</div>

<script>
    // Make same lesson cells hover the same:
    const cells = document.querySelectorAll(".unitBlock");
    cells.forEach(cell => {
        cell.addEventListener('mouseover', () => {
            const sameUnitCells = document.querySelectorAll(`[unit_id="${cell.getAttribute('unit_id')}"]`);
            for (const sameUnitCell of sameUnitCells) {
                sameUnitCell.style.opacity = 0.8;
                sameUnitCell.style.transform = 'scale(1.04)';
            }
        })
        cell.addEventListener('mouseout', function() {
            const sameUnitCells = document.querySelectorAll(`[unit_id="${cell.getAttribute('unit_id')}"]`);
            for (const sameUnitCell of sameUnitCells) {
                sameUnitCell.style.opacity = 1;
                sameUnitCell.style.transform = 'scale(1)';
            }
        });
    });


    // Onclick for new lesson/task dropdown buttons:
    function expandNewForm(type) {
        const newForm = document.getElementById(`indexNew${type}Form`);
        if (newForm.offsetHeight == '0') {
            var height = newForm.scrollHeight;
            newForm.style.height = height + "px";
            newForm.style.paddingBottom = "5px";
        } else {
            newForm.style.height = '0px';
            newForm.style.paddingBottom = "0px";
        }
    }

    // Onclick for cancel buttons:
    function cancelNewForm(type) {
        const newForm = document.getElementById(`indexNew${type}Form`);
        newForm.style.height = "0px";
        newForm.style.paddingBottom = "0px";
    }

    // New Timings:
    let currentTimings = [];
    let currentIndex = 0;

    function handleDayChange(daySelect) {
        const startSelect = document.getElementById("timingStart");
        startSelect.disabled = false;
    }

    function handleStartChange(startSelect) {
        const endSelect = document.getElementById("timingEnd");
        endSelect.disabled = false;
    }

    let timingCount = 0;
    function handleEndChange(endSelect) {
        if (endSelect.selectedIndex === 0) {
            return;
        }

        const daySelect = document.getElementById("day");
        const startSelect = document.getElementById("timingStart");
        const selectedDay = daySelect.options[daySelect.selectedIndex].value;
        const selectedStart = startSelect.options[startSelect.selectedIndex].value;
        const selectedEnd = endSelect.options[endSelect.selectedIndex].value;

        const units = JSON.parse('<%- unitsString %>');

        // Check overlap with existing units:
        const overlappedUnit = units.find(unit => unit.timings.some(timing => timing.day == selectedDay && timing.timingStart < selectedEnd && timing.timingEnd > selectedStart));
        if (overlappedUnit) {
            const overlappedTiming = overlappedUnit.timings.find(timing => timing.day == selectedDay && timing.timingStart < selectedEnd && timing.timingEnd > selectedStart);
            const alertMessage = overlappedUnit.type == 'Assignment' ? `This timing overlaps with the timing of [${overlappedUnit.type}] ${overlappedUnit.title} at ${overlappedTiming.date}, ${overlappedTiming.timingStart} - ${overlappedTiming.timingEnd}!` : `This timing overlaps with the timing of [${overlappedUnit.type}] ${overlappedUnit.title} at ${overlappedTiming.day}, ${overlappedTiming.timingStart} - ${overlappedTiming.timingEnd}!`;
            alert(alertMessage);
            daySelect.selectedIndex = 0;
            startSelect.selectedIndex = 0;
            endSelect.selectedIndex = 0;
            startSelect.disabled = true;
            endSelect.disabled = true;
            return;
        }

        // Check overlap with current unit:
        if (currentTimings.some(timing => timing.day == selectedDay && timing.timingStart < selectedEnd && timing.timingEnd > selectedStart)) {
            alert("This timing overlaps with the timing of the current new lesson!");
            daySelect.selectedIndex = 0;
            startSelect.selectedIndex = 0;
            endSelect.selectedIndex = 0;
            startSelect.disabled = true;
            endSelect.disabled = true;
            return;
        }

        // Check start > end:
        if (selectedStart >= selectedEnd) {
            alert('Starting time should be later than Ending time!');
            return;
        }

        // Display the selected values above the indexInputRow
        const selectedRows = document.getElementById('selectedRows');
        const newRow = document.createElement('div');
        newRow.innerText = `${selectedDay}, ${selectedStart} - ${selectedEnd}`;
        newRow.className = 'indexNewLessonTimingRow';

        // Create delete button
        const deleteButton = document.createElement('button');
        deleteButton.setAttribute('timing-index', timingCount);
        deleteButton.innerText = 'Delete';
        deleteButton.className = 'indexNewLessonTimingDeleteButton';
        deleteButton.addEventListener('click', (event) => {
            const newLessonForm = document.getElementById('indexNewLessonForm');
            const timingRows = document.getElementsByClassName('indexNewLessonTimingRow');
            const timingRowHeight = timingRows[0].scrollHeight
            var formHeight = newLessonForm.scrollHeight;
            newLessonForm.style.height = formHeight - timingRowHeight + "px";
            if (timingRows.length == 1) {
                newLessonForm.style.paddingBottom = "0px";
            }
            selectedRows.removeChild(newRow);
            currentTimings = currentTimings.filter(timing => timing.index != event.target.getAttribute('timing-index'), 1);
            timingCount--;
        });
        newRow.appendChild(deleteButton);

        selectedRows.appendChild(newRow);

        currentTimings.push({
            'index': timingCount,
            'day': selectedDay,
            'timingStart': selectedStart,
            'timingEnd': selectedEnd
        })
        timingCount++;

        // Expand for height:
        const newLessonForm = document.getElementById('indexNewLessonForm');
        var height = newLessonForm.scrollHeight;
        newLessonForm.style.height = height + "px";
        newLessonForm.style.paddingBottom = "5px";

        // Reset the form for the next selection
        currentIndex++;
        daySelect.selectedIndex = 0;
        startSelect.selectedIndex = 0;
        endSelect.selectedIndex = 0;
        startSelect.disabled = true;
        endSelect.disabled = true;
    }

    // Onclick for submit buttons:
    function showLoadingScreen() {
        document.getElementById('loadingScreenWrapper').style.display = 'flex';
    }

    function hideLoadingScreen() {
        document.getElementById('loadingScreenWrapper').style.display = 'none';
    }

    // NUSMods Import Submit:
    const nusModsImportSubmitButton = document.getElementById('nusModsFormSubmitButton');

    nusModsImportSubmitButton.addEventListener('click', async () => {

        // Ask if confirm delete all other lessons:
        if (!confirm('Are you sure you want to import your NUSMods Timetable? (This will delete all your existing module and assignments)')) {
            return;
        }

        const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

        const lessonTypeMapping = {
            'SEC': 'Sectional Teaching',
            'LAB': 'Laboratory',
            'TUT': 'Tutorial',
            'LEC': 'Lecture',
            'REC': 'Recitation'
        }
        try {
            showLoadingScreen();
            const nusModsFormInput = document.getElementById('nusModsFormInput');
            const nusModsUrl = nusModsFormInput.value;

            // Parse information into units from url: (Example url: https://nusmods.com/timetable/sem-2/share?CM2122=TUT:2,LAB:1,LEC:1&CS1101S=TUT:06,REC:02,LEC:1&CS2040S=LEC:1,REC:09,TUT:13)
            const unparsedString = nusModsUrl.split('?')[1]; // 'CM2122=TUT:2,LAB:1,LEC:1&CS1101S=TUT:06,REC:02,LEC:1&CS2040S=LEC:1,REC:09,TUT:13'
            const listOfModules = unparsedString.split('&'); // ['CM2122=TUT:2,LAB:1,LEC:1', ...]
            const newUnits = [];
            for (let module of listOfModules) { // 'CM2122=TUT:2,LAB:1,LEC:1'
                const moduleDetailList = module.split('=');
                const moduleCode = moduleDetailList[0]; // 'CM2122'
                const moduleClassList = moduleDetailList[1].split(','); // ['TUT:2', 'LAB:1', ...]
                const response = await fetch(`https://api.nusmods.com/v2/2023-2024/modules/${moduleCode}.json`);
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                const responseJson = await response.json();
                const moduleTimetable = responseJson['semesterData'][currentSem - 1]['timetable'];

                const moduleUnits = [];
                for (let unitInfo of moduleClassList) { // 'TUT:2'
                    const unitSplit = unitInfo.split(':');
                    const unitType = unitSplit[0]; // 'TUT'
                    const unitNumber = unitSplit[1]; // 2
                    const unitList = moduleTimetable.filter(time => (time['classNo'] == unitNumber) && (time['lessonType'] == unitType));
                    
                    // Each unit list add as new timing
                    for (let unit of unitList) {
                        moduleUnits.push({
                            type: unitType,
                            timingStart: unit['startTime'],
                            timingEnd: unit['endTime'],
                            weeks: unit['weeks']
                        })
                    }
                }
                newUnits.push({
                    code: moduleCode,
                    units: moduleUnits
                })
            }


            // Append unit information into requestBody:
            const requestBody = new URLSearchParams();
            requestBody.append('newUnits', JSON.stringify(newUnits));

            // Post request to add units:
            fetch('/nus-mods', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: requestBody.toString()
            })
            .then(data => {
                window.location.href = '/timetable/week/today';
            })
            .catch(err => {
                alert("There was a problem importing your NUSMods timetable!");
                hideLoadingScreen();
            })
        } catch (error) {
            console.log(error);
            alert("There was a problem importing your NUSMods Timetable!");
            hideLoadingScreen();
        }
    })

    // New Lesson Submit:
    const newLessonSubmitButton = document.getElementsByClassName('indexSubmitNewLessonButton')[0];
    newLessonSubmitButton.addEventListener('click', () => {
        // Check fields:
        const newLessonTitle = document.getElementById('lessonTitle').value;
        const newLessonColour = document.getElementById('colour').value;
        const newTimings = currentTimings.map(timing => {
            delete timing.index;
            return timing;
        });
        if (!newLessonTitle) {
            alert('Please fill in the Lesson Title!');
            return;
        }
        if (!newLessonColour) {
            alert('Please pick a Lesson Colour!');
            return;
        }
        if (newTimings.length <= 0) {
            alert('Please fill in at least 1 timing!');
            return;
        }

        // Display loading screen:
        showLoadingScreen();
        
        const requestBody = new URLSearchParams();
        requestBody.append('title', newLessonTitle);
        requestBody.append('colour', newLessonColour);
        requestBody.append('timings', JSON.stringify(newTimings));


        fetch('/timetable', {
            method: 'POST',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: requestBody.toString()
        })
        .then(data => {
            window.location.href = '/timetable/week/today';
        })
        .catch(err => {
            alert("There was a problem adding this lesson!");
            hideLoadingScreen();
        })
    })

    // New Task Submit:
    const newTaskSubmitButton = document.getElementsByClassName('indexSubmitNewTaskButton')[0];
    newTaskSubmitButton.addEventListener('click', () => {
        const newTaskTitle = document.getElementById('taskTitle').value;
        const newTaskDuration = document.getElementById('taskDuration').value;
        const newTaskReleasedOn = document.getElementById('releasedOn').value;
        const newPreviousWeek = document.getElementById('previousWeekOption').checked;
        const newTaskDeadline = document.getElementById('deadline').value;

        // Check fields:
        if (!newTaskTitle) {
            alert('Please fill in the Task Title!');
            return;
        }
        if (!newTaskDuration) {
            alert('Please fill in the Task Duration!');
            return;
        }
        if (!newTaskReleasedOn && !newPreviousWeek) {
            alert('Please pick a day the Task is Released!');
            return;
        }
        if (!newTaskDeadline) {
            alert('Please pick a day the Task is Due!');
            return;
        }

        // Display loading screen:
        showLoadingScreen();

        const requestBody = new URLSearchParams();
        requestBody.append('title', newTaskTitle);
        requestBody.append('duration', newTaskDuration);
        requestBody.append('releasedOn', newTaskReleasedOn);
        requestBody.append('deadline', newTaskDeadline);
        fetch('/weekly-tasks', {
            method: 'POST',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: requestBody.toString()
        })
        .then(res => {
            if (res.status == 401) {
                alert("There's not enough time to finish this task before it's deadline! Either clear up your schedule or estimate a shorter duration...");
            }
            window.location.href = '/timetable/week/today';
        })
        .catch(err => {
            alert("Something went wrong creating your task!");
            hideLoadingScreen();
        })
    })

    // New Assignment Submit:
    const newAssignmentSubmitButton = document.getElementsByClassName('indexSubmitNewAssignmentButton')[0];
    newAssignmentSubmitButton.addEventListener('click', () => {
        const newAssignmentTitle = document.getElementById('assignmentTitle').value;
        const newAssignmentDuration = document.getElementById('assignmentDuration').value;
        const newAssignmentReleasedOnDate = document.getElementById('releasedOnDate').value;
        const newAssignmentDeadlineDate = document.getElementById('deadlineDate').value;

        // Check fields:
        if (!newAssignmentTitle) {
            alert('Please fill in the Assignment Title!');
            return;
        }
        if (!newAssignmentDuration) {
            alert('Please fill in the Assignment Duration!');
            return;
        }
        if (!newAssignmentReleasedOnDate) {
            alert('Please pick a date the Assignment is Released!');
            return;
        }
        if (!newAssignmentDeadlineDate) {
            alert('Please pick a date the Assignment is Due!');
            return;
        }

        // Display loading screen:
        showLoadingScreen();

        const requestBody = new URLSearchParams();
        requestBody.append('title', newAssignmentTitle);
        requestBody.append('duration', newAssignmentDuration);
        requestBody.append('releasedOnDate', newAssignmentReleasedOnDate);
        requestBody.append('deadlineDate', newAssignmentDeadlineDate);

        fetch('/assignments', {
            method: 'POST',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: requestBody.toString()
        })
        .then(res => {
            if (res.status == 401) {
                alert("There's not enough time to finish this assignment before it's deadline! Either clear up your schedule or estimate a shorter duration...");
            }
            window.location.href = '/timetable/week/today';
        })
        .catch(err => {
            alert("Something went wrong creating your assignment!");
            hideLoadingScreen();
        })
    })

    // Onclick for arrow buttons:
    const weekOrMonth = "<%= weekOrMonth %>";
    const period = "<%= formattedPeriod %>";

    const leftArrowButton = document.getElementsByClassName('timetableLeftArrow')[0];
    const rightArrowButton = document.getElementsByClassName('timetableRightArrow')[0];

    function getPreviousWeek(dateRange) {
        const parts = dateRange.split(" - ");
        const startDate = new Date(parts[0]);
        const endDate = new Date(parts[1]);

        const previousWeekStartDate = new Date(startDate);
        previousWeekStartDate.setDate(startDate.getDate() - 7);
        const previousWeekEndDate = new Date(endDate);
        previousWeekEndDate.setDate(endDate.getDate() - 7);

        return (
            previousWeekStartDate.toLocaleDateString("en", {
            month: "long",
            day: "numeric",
            year: "numeric",
            }) +
            " - " +
            previousWeekEndDate.toLocaleDateString("en", {
            month: "long",
            day: "numeric",
            year: "numeric",
            })
        );
        }

    function getNextWeek(dateRange) {
        const parts = dateRange.split(" - ");
        const startDate = new Date(parts[0]);
        const endDate = new Date(parts[1]);

        const nextWeekStartDate = new Date(startDate);
        nextWeekStartDate.setDate(startDate.getDate() + 7);
        const nextWeekEndDate = new Date(endDate);
        nextWeekEndDate.setDate(endDate.getDate() + 7);

        return (
            nextWeekStartDate.toLocaleDateString("en", {
            month: "long",
            day: "numeric",
            year: "numeric",
            }) +
            " - " +
            nextWeekEndDate.toLocaleDateString("en", {
            month: "long",
            day: "numeric",
            year: "numeric",
            })
        );
    }

    function getNextMonth(currentMonthYear) {
        const [month, year] = currentMonthYear.split(' ');
        const date = new Date(`${month} 1, ${year}`);
        date.setMonth(date.getMonth() + 1);
        const nextMonth = date.toLocaleString('default', { month: 'long' });
        const nextYear = date.getFullYear();
        return `${nextMonth} ${nextYear}`;
    }

    function getPreviousMonthFromMonthYear(currentMonthYear) {
        const [month, year] = currentMonthYear.split(' ');
        const date = new Date(`${month} 1, ${year}`);
        date.setMonth(date.getMonth() - 1);
        const previousMonth = date.toLocaleString('default', { month: 'long' });
        const previousYear = date.getFullYear();
        return `${previousMonth} ${previousYear}`;
    }

    let previousPeriod = "";
    let nextPeriod = "";
    if (weekOrMonth == 'week') {
        nextPeriod = getNextWeek(period);
        previousPeriod = getPreviousWeek(period);
    } else {
        nextPeriod = getNextMonth(period);
        previousPeriod = getPreviousMonthFromMonthYear(period);
    }

    leftArrowButton.addEventListener('click', () => {
        window.location.href = `/timetable/${weekOrMonth}/${previousPeriod}`;
    })
    rightArrowButton.addEventListener('click', () => {
        window.location.href = `/timetable/${weekOrMonth}/${nextPeriod}`;
    })


    // Edit functionality:
    let timingIndex = 0;
    const colourList = ["", "#C62828", "#1565C0", "#2E7D32", "#FFA000", "#6A1B9A", "#F08731"];
    const dayList = ["", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
    const timingsList = ["", "0800", "0900", "1000", "1100", "1200", "1300", "1400", "1500", "1600", "1700", "1800", "1900", "2000", "2100", "2200"];
    
    // Function to append a new timing row
    function createTimingRow(index, type) {
        const timingRow = document.createElement('div');
        timingRow.classList.add('editTimingRow');
        timingRow.setAttribute('edit-timing-index', index);
        if (type == 'Assignment') {
            innerHTML = `
                <div class="indexTimingColumn">
                    <label class="form-label" for="editAssignmentDate${index}">Date</label>
                    <input class="editAssignmentDate" type="date" id="editAssignmentDate${index}">           
                </div>
                
            `;
        } else {
            innerHTML = `
                <div class="indexTimingColumn">
                    <label class="form-label" for="${"edit" + type + "Day" + index}">Day</label>
                    <select class="form-select ${"edit" + type + "Day"}" id="${"edit" + type + "Day" + index}" required>
                        <option value="" selected disabled>Select a day</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>            
                </div>
                
            `;
        }

        timingRow.innerHTML = innerHTML + `

            <div class="indexTimingColumn">
                <label class="form-label">Start</label>
                <select class="form-select ${"edit" + type + "TimingStart"}" id="${"edit" + type + "TimingStart" + index}" required>
                    <option value="" selected>Select a starting time</option>
                    <% for (let j = 8; j <= 22; j++) { %>
                        <% let time = j < 10 ? '0' + j : j; %>
                        <option value="<%= time %>00"><%= time %>:00</option>
                    <% } %>
                </select>
            </div>
            <div class="indexTimingColumn">
                <label class="form-label">End</label>
                <select class="form-select ${"edit" + type + "TimingEnd"}"" id="${"edit" + type + "TimingEnd" + index}" required>
                    <option value="" selected>Select an ending time</option>
                    <% for (let j = 8; j <= 22; j++) { %>
                        <% let time = j < 10 ? '0' + j : j; %>
                        <option value="<%= time %>00"><%= time %>:00</option>
                    <% } %>
                </select>
            </div>
            <div class="editDeleteTimingButton button" onclick="deleteEditTimingRow(${index})">Delete</div>
        `;
        return timingRow;
    }


    // Edit Timing Option onChange functions:
    function handleEditDayChange(type) {
        const startSelect = document.getElementById(`edit${type}NewTimingStart`);
        startSelect.disabled = false;
    }

    function handleEditStartChange(type) {
        const endSelect = document.getElementById(`edit${type}NewTimingEnd`);
        endSelect.disabled = false;
    }
    
    function handleEditLessonEndChange(endSelect) {
        if (endSelect.selectedIndex === 0) {
            return;
        }
        const daySelect = document.getElementById("editLessonNewDay");
        const startSelect = document.getElementById("editLessonNewTimingStart");
        const selectedDay = daySelect.options[daySelect.selectedIndex].value;
        const selectedStart = startSelect.options[startSelect.selectedIndex].value;
        const selectedEnd = endSelect.options[endSelect.selectedIndex].value;

        const units = JSON.parse('<%- unitsString %>');

        // Check overlap with existing units:
        const overlappedUnit = units.find(unit => unit.timings.some(timing => timing.day == selectedDay && timing.timingStart < selectedEnd && timing.timingEnd > selectedStart));
        if (overlappedUnit) {
            const overlappedTiming = overlappedUnit.timings.find(timing => timing.day == selectedDay && timing.timingStart < selectedEnd && timing.timingEnd > selectedStart);
            const alertMessage = overlappedUnit.type == 'Assignment' ? `This timing overlaps with the timing of [${overlappedUnit.type}] ${overlappedUnit.title} at ${overlappedTiming.date}, ${overlappedTiming.timingStart} - ${overlappedTiming.timingEnd}!` : `This timing overlaps with the timing of [${overlappedUnit.type}] ${overlappedUnit.title} at ${overlappedTiming.day}, ${overlappedTiming.timingStart} - ${overlappedTiming.timingEnd}!`;
            alert(alertMessage);
            daySelect.selectedIndex = 0;
            startSelect.selectedIndex = 0;
            endSelect.selectedIndex = 0;
            startSelect.disabled = true;
            endSelect.disabled = true;
            return;
        }

        // Check start > end:
        if (selectedStart >= selectedEnd) {
            alert('Starting time should be later than Ending time!');
            return;
        }

        // Insert new timing row:
        const timingContainer = document.getElementById('editLessonTimingContainer');
        const editNewTimingRow = document.getElementsByClassName('editNewLessonTimingRow')[0];
        const newTimingRow = createTimingRow(timingIndex, 'Lesson');
        timingContainer.insertBefore(newTimingRow, editNewTimingRow);

        const timingDay = document.getElementById('editLessonDay' + timingIndex);
        const timingStart = document.getElementById('editLessonTimingStart' + timingIndex);
        const timingEnd = document.getElementById('editLessonTimingEnd' + timingIndex);

        timingDay.selectedIndex = dayList.indexOf(selectedDay);
        timingStart.selectedIndex = timingsList.indexOf(selectedStart);
        timingEnd.selectedIndex = timingsList.indexOf(selectedEnd);
        timingIndex++;

        // Reset the form for the next selection:
        daySelect.selectedIndex = 0;
        startSelect.selectedIndex = 0;
        endSelect.selectedIndex = 0;
        startSelect.disabled = true;
        endSelect.disabled = true;
    }

    function handleEditTaskEndChange(endSelect) {
        if (endSelect.selectedIndex === 0) {
            return;
        }
        const daySelect = document.getElementById("editTaskNewDay");
        const startSelect = document.getElementById("editTaskNewTimingStart");
        const selectedDay = daySelect.options[daySelect.selectedIndex].value;
        const selectedStart = startSelect.options[startSelect.selectedIndex].value;
        const selectedEnd = endSelect.options[endSelect.selectedIndex].value;

        const units = JSON.parse('<%- unitsString %>');

        // Check overlap with existing units:
        const overlappedUnit = units.find(unit => unit.timings.some(timing => timing.day == selectedDay && timing.timingStart < selectedEnd && timing.timingEnd > selectedStart));
        if (overlappedUnit) {
            const overlappedTiming = overlappedUnit.timings.find(timing => timing.day == selectedDay && timing.timingStart < selectedEnd && timing.timingEnd > selectedStart);
            const alertMessage = overlappedUnit.type == 'Assignment' ? `This timing overlaps with the timing of [${overlappedUnit.type}] ${overlappedUnit.title} at ${overlappedTiming.date}, ${overlappedTiming.timingStart} - ${overlappedTiming.timingEnd}!` : `This timing overlaps with the timing of [${overlappedUnit.type}] ${overlappedUnit.title} at ${overlappedTiming.day}, ${overlappedTiming.timingStart} - ${overlappedTiming.timingEnd}!`;
            alert(alertMessage);
            daySelect.selectedIndex = 0;
            startSelect.selectedIndex = 0;
            endSelect.selectedIndex = 0;
            startSelect.disabled = true;
            endSelect.disabled = true;
            return;
        }

        // Check start > end:
        if (selectedStart >= selectedEnd) {
            alert('Starting time should be later than Ending time!');
            endSelect.selectedIndex = 0;
            return;
        }

        // Insert new timing row:
        const timingContainer = document.getElementById('editTaskTimingContainer');
        const editNewTimingRow = document.getElementsByClassName('editNewTaskTimingRow')[0];
        const newTimingRow = createTimingRow(timingIndex, 'Task');
        timingContainer.insertBefore(newTimingRow, editNewTimingRow);

        const timingDay = document.getElementById('editTaskDay' + timingIndex);
        const timingStart = document.getElementById('editTaskTimingStart' + timingIndex);
        const timingEnd = document.getElementById('editTaskTimingEnd' + timingIndex);

        timingDay.selectedIndex = dayList.indexOf(selectedDay);
        timingStart.selectedIndex = timingsList.indexOf(selectedStart);
        timingEnd.selectedIndex = timingsList.indexOf(selectedEnd);
        timingIndex++;

        // Reset the form for the next selection:
        daySelect.selectedIndex = 0;
        startSelect.selectedIndex = 0;
        endSelect.selectedIndex = 0;
        startSelect.disabled = true;
        endSelect.disabled = true;
    }

    function handleEditAssignmentEndChange(endSelect) {
        if (endSelect.selectedIndex === 0) {
            return;
        }
        const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        const dateSelect = document.getElementById("editAssignmentDate");
        const startSelect = document.getElementById("editAssignmentNewTimingStart");
        const selectedDate = dateSelect.value;
        const selectedDay = days[new Date(selectedDate).getDay()];
        const selectedStart = startSelect.options[startSelect.selectedIndex].value;
        const selectedEnd = endSelect.options[endSelect.selectedIndex].value;

        const units = JSON.parse('<%- unitsString %>');

        // Check overlap with existing units:
        const overlappedUnit = units.find(unit => unit.timings.some(timing => {
            let isSameDate = false;
            if (unit.type == 'Assignment') {
                isSameDate =  selectedDate === timing.date;
            } else {
                isSameDate = timing.day == selectedDay;
            }
            return (isSameDate && (timing.timingStart < selectedEnd && timing.timingEnd > selectedStart))
        }));
        if (overlappedUnit) {
            const overlappedTiming = overlappedUnit.timings.find(timing => (timing.day == selectedDay || timing.date == selectedDate) && timing.timingStart < selectedEnd && timing.timingEnd > selectedStart);
            const alertMessage = overlappedUnit.type == 'Assignment' ? `This timing overlaps with the timing of [${overlappedUnit.type}] ${overlappedUnit.title} at ${overlappedTiming.date}, ${overlappedTiming.timingStart} - ${overlappedTiming.timingEnd}!` : `This timing overlaps with the timing of [${overlappedUnit.type}] ${overlappedUnit.title} at ${overlappedTiming.day}, ${overlappedTiming.timingStart} - ${overlappedTiming.timingEnd}!`;
            alert(alertMessage);
            daySelect.selectedIndex = 0;
            startSelect.selectedIndex = 0;
            endSelect.selectedIndex = 0;
            startSelect.disabled = true;
            endSelect.disabled = true;
            return;
        }

        // Check start > end:
        if (selectedStart >= selectedEnd) {
            alert('Starting time should be later than Ending time!');
            endSelect.selectedIndex = 0;
            return;
        }

        // Insert new timing row:
        const timingContainer = document.getElementById('editAssignmentTimingContainer');
        const editNewTimingRow = document.getElementsByClassName('editNewAssignmentTimingRow')[0];
        const newTimingRow = createTimingRow(timingIndex, 'Assignment');
        timingContainer.insertBefore(newTimingRow, editNewTimingRow);

        const timingDate = document.getElementById('editAssignmentDate' + timingIndex);
        const timingStart = document.getElementById('editAssignmentTimingStart' + timingIndex);
        const timingEnd = document.getElementById('editAssignmentTimingEnd' + timingIndex);

        timingDate.value = dateSelect.value;
        timingStart.selectedIndex = timingsList.indexOf(selectedStart);
        timingEnd.selectedIndex = timingsList.indexOf(selectedEnd);
        timingIndex++;

        // Reset the form for the next selection:
        dateSelect.value = '';
        startSelect.selectedIndex = 0;
        endSelect.selectedIndex = 0;
        startSelect.disabled = true;
        endSelect.disabled = true;
    }


    function deleteEditTimingRow(index) {
        const timingRow = document.querySelector(`[edit-timing-index="${index}"]`);
        timingRow.remove();
    }

    // Show functions:
    function showEditLessonContainer(lessonString) {
        document.getElementById("indexOverlay").style.display = 'block';

        const lesson = JSON.parse(lessonString);
        var editContainer = document.getElementById('indexEditLessonContainer');
        editContainer.style.display = 'block';

        const editLessonTitle = document.getElementById('editLessonTitle');
        const editLessonColour = document.getElementById('editLessonColour');

        editLessonTitle.value = lesson.title;
        editLessonColour.selectedIndex = colourList.indexOf(lesson.colour);
        
        const timingContainer = document.getElementById('editLessonTimingContainer');
        const editNewTimingRow = document.getElementsByClassName('editNewLessonTimingRow')[0];
        for (let timing of lesson.timings) {
            const timingRow = createTimingRow(timingIndex, 'Lesson');
            
            timingContainer.insertBefore(timingRow, editNewTimingRow)

            const timingDay = document.getElementById('editLessonDay' + timingIndex);
            const timingStart = document.getElementById('editLessonTimingStart' + timingIndex);
            const timingEnd = document.getElementById('editLessonTimingEnd' + timingIndex);

            timingDay.selectedIndex = dayList.indexOf(timing.day);
            timingStart.selectedIndex = timingsList.indexOf(timing.timingStart);
            timingEnd.selectedIndex = timingsList.indexOf(timing.timingEnd);
            timingIndex++;
        }

        const editLessonSubmitButton = document.getElementById('indexEditLessonSubmitButton');
        editLessonSubmitButton.addEventListener('click', () => submitEditLesson(lesson._id));

        const editLessonDeleteButton = document.getElementsByClassName('indexEditDeleteButton')[0];
        editLessonDeleteButton.addEventListener('click', () => deleteOnclick(lesson._id));

    }

    function showEditTaskContainer(taskString) {
        document.getElementById("indexOverlay").style.display = 'block';

        const task = JSON.parse(taskString);
        var editContainer = document.getElementById('indexEditTaskContainer');
        editContainer.style.display = 'block';

                
        const editTaskTitle = document.getElementById('editTaskTitle');

        editTaskTitle.value = task.title;
        
        const timingContainer = document.getElementById('editTaskTimingContainer');
        const editNewTimingRow = document.getElementsByClassName('editNewTaskTimingRow')[0];
        for (let timing of task.timings) {
            const timingRow = createTimingRow(timingIndex, 'Task');
            
            timingContainer.insertBefore(timingRow, editNewTimingRow)

            const timingDay = document.getElementById('editTaskDay' + timingIndex);
            const timingStart = document.getElementById('editTaskTimingStart' + timingIndex);
            const timingEnd = document.getElementById('editTaskTimingEnd' + timingIndex);

            timingDay.selectedIndex = dayList.indexOf(timing.day);
            timingStart.selectedIndex = timingsList.indexOf(timing.timingStart);
            timingEnd.selectedIndex = timingsList.indexOf(timing.timingEnd);
            timingIndex++;
        }

        const editTaskSubmitButton = document.getElementById('indexEditTaskSubmitButton');
        editTaskSubmitButton.addEventListener('click', () => submitEditTask(task._id));

        const editTaskDeleteButton = document.getElementsByClassName('indexEditDeleteButton')[1];
        editTaskDeleteButton.addEventListener('click', () => deleteOnclick(task._id));
    }

    function showEditAssignmentContainer(assignmentString) {
        document.getElementById("indexOverlay").style.display = 'block';

        const assignment = JSON.parse(assignmentString);
        var editContainer = document.getElementById('indexEditAssignmentContainer');
        editContainer.style.display = 'block';

                
        const editAssignmentTitle = document.getElementById('editAssignmentTitle');

        editAssignmentTitle.value = assignment.title;
        
        const timingContainer = document.getElementById('editAssignmentTimingContainer');
        const editNewTimingRow = document.getElementsByClassName('editNewAssignmentTimingRow')[0];
        for (let timing of assignment.timings) {
            const timingRow = createTimingRow(timingIndex, 'Assignment');
            
            timingContainer.insertBefore(timingRow, editNewTimingRow)

            const timingDate = document.getElementById('editAssignmentDate' + timingIndex);
            const timingStart = document.getElementById('editAssignmentTimingStart' + timingIndex);
            const timingEnd = document.getElementById('editAssignmentTimingEnd' + timingIndex);

            timingDate.value = timing.date;
            timingStart.selectedIndex = timingsList.indexOf(timing.timingStart);
            timingEnd.selectedIndex = timingsList.indexOf(timing.timingEnd);
            timingIndex++;
        }

        const editAssignmentSubmitButton = document.getElementById('indexEditAssignmentSubmitButton');
        editAssignmentSubmitButton.addEventListener('click', () => submitEditAssignment(assignment._id));

        const editAssignmentDeleteButton = document.getElementsByClassName('indexEditDeleteButton')[2];
        editAssignmentDeleteButton.addEventListener('click', () => deleteOnclick(assignment._id));
    }


    // Submit Edit functions:
    function submitEditLesson(lessonId) {
        // Check fields:
        const editLessonContainer = document.getElementById('indexEditLessonContainer');
        const newLessonTitle = editLessonContainer.querySelector('#editLessonTitle').value;
        const newLessonColour = editLessonContainer.querySelector('#editLessonColour').value;
        const newTimingRows = editLessonContainer.querySelectorAll('.editTimingRow');

        if (!newLessonTitle) {
            alert('Please fill in the Lesson Title!');
            return;
        }
        if (!newLessonColour) {
            alert('Please pick a Lesson Colour!');
            return;
        }
        if (newTimingRows.length <= 0) {
            alert('Please fill in at least 1 timing!');
            return;
        }
        
        // Display loading screen:
        showLoadingScreen();

        const newLessonTimings = [];
        for (let timingRow of newTimingRows) {
            if (timingRow.classList.contains('editNewLessonTimingRow') || timingRow.classList.contains('editNewTaskTimingRow')) {
                continue;
            }
            const day = timingRow.querySelector('select.editLessonDay').value;
            const timingStart = timingRow.querySelector('select.editLessonTimingStart').value;
            const timingEnd = timingRow.querySelector('select.editLessonTimingEnd').value;
            newLessonTimings.push({ day, timingStart, timingEnd });
        }
        
        const requestBody = new URLSearchParams();
        requestBody.append('title', newLessonTitle);
        requestBody.append('colour', newLessonColour);
        requestBody.append('timings', JSON.stringify(newLessonTimings));
        const putUrl = `/timetable/${lessonId}`
        fetch(putUrl, {
            method: 'PUT',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: requestBody.toString()
        })
        .then(response => {
            window.location.href = '/timetable/week/today';
        })
        .catch(err => {
            alert("There was a problem editting this lesson!");
            hideLoadingScreen();
        })    
    }

    function submitEditTask(taskId) {
        const units = JSON.parse('<%- unitsString %>');
        const task = units.filter(unit => unit._id === taskId)[0];

        // Check fields:
        const editTaskContainer = document.getElementById('indexEditTaskContainer');
        const newTaskTitle = editTaskContainer.querySelector('#editTaskTitle').value;
        const newTimingRows = editTaskContainer.querySelectorAll('.editTimingRow');
        if (!newTaskTitle) {
            alert('Please fill in the Task Title!');
            return;
        }
        if (newTimingRows.length <= 0) {
            alert('Please fill in at least 1 timing!');
            return;
        }
        
        // Display loading screen:
        showLoadingScreen();

        const days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
        const newTaskTimings = [];
        for (let timingRow of newTimingRows) {
            if (timingRow.classList.contains('editNewTaskTimingRow')) {
                continue;
            }
            const day = timingRow.querySelector('select.editTaskDay').value;
            if (days.indexOf(day) > days.indexOf(task.deadline)) {
                alert(`One of your timing(s) is after your task's deadline: [${task.deadline}]!`);
                hideLoadingScreen();
                return;
            }
            const timingStart = timingRow.querySelector('select.editTaskTimingStart').value;
            const timingEnd = timingRow.querySelector('select.editTaskTimingEnd').value;
            newTaskTimings.push({ day, timingStart, timingEnd });
        }
        
        const requestBody = new URLSearchParams();
        requestBody.append('title', newTaskTitle);
        requestBody.append('timings', JSON.stringify(newTaskTimings));
        const putUrl = `/weekly-tasks/${taskId}`
        fetch(putUrl, {
            method: 'PUT',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: requestBody.toString()
        })
        .then(response => {
            window.location.href = '/timetable/week/today';
        })
        .catch(err => {
            alert("There was a problem editting this task! Error:");
            hideLoadingScreen();
        })    
    }

    function submitEditAssignment(assignmentId) {
        const units = JSON.parse('<%- unitsString %>');
        const assignment = units.filter(unit => unit._id === assignmentId)[0];

        // Check fields:
        const editAssignmentContainer = document.getElementById('indexEditAssignmentContainer');
        const newAssignmentTitle = editAssignmentContainer.querySelector('#editAssignmentTitle').value;
        const newTimingRows = editAssignmentContainer.querySelectorAll('.editTimingRow');

        if (!newAssignmentTitle) {
            alert('Please fill in the Assignment Title!');
            return;
        }
        if (newTimingRows.length <= 0) {
            alert('Please fill in at least 1 timing!');
            return;
        }
        
        // Display loading screen:
        showLoadingScreen();

        const newAssignmentTimings = [];
        for (let timingRow of newTimingRows) {
            if (timingRow.classList.contains('editNewAssignmentTimingRow')) {
                continue;
            }
            const date = timingRow.querySelector('.editAssignmentDate').value;
            if (new Date(date) > new Date(assignment.deadlineDate)) {
                alert(`One of your timing(s) is after your assignment's deadline of [${assignment.deadlineDate}]!`);
                hideLoadingScreen();
                return;
            }
            const timingStart = timingRow.querySelector('select.editAssignmentTimingStart').value;
            const timingEnd = timingRow.querySelector('select.editAssignmentTimingEnd').value;
            newAssignmentTimings.push({ date, timingStart, timingEnd });
        }
        
        const requestBody = new URLSearchParams();
        requestBody.append('title', newAssignmentTitle);
        requestBody.append('timings', JSON.stringify(newAssignmentTimings));
        const putUrl = `/assignments/${assignmentId}`
        fetch(putUrl, {
            method: 'PUT',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: requestBody.toString()
        })
        .then(response => {
            window.location.href = '/timetable/week/today';
        })
        .catch(err => {
            alert("There was a problem editting this assignment!");
            hideLoadingScreen();
        })    
    }


    // Cancel function:
    function hideEditContainer(type) {
        document.getElementById("indexOverlay").style.display = 'none';

        // Remove timing rows:
        const timingContainer = document.getElementById(`edit${type}TimingContainer`);
        const timingRows = [...timingContainer.getElementsByClassName('editTimingRow')];
        timingRows.forEach(timingRow => {
            if (!timingRow.classList.contains(`editNew${type}TimingRow`)) {
                timingRow.remove();
            }
        })

        timingIndex = 0;

        // Hide container:
        var editContainer = document.getElementById(`indexEdit${type}Container`);
        editContainer.style.display = 'none';
    }


    // Delete button onclick:
    function deleteOnclick(unitId) {
        const deleteUrl = `/timetable/${unitId}`;
        fetch(deleteUrl, {
            method: 'DELETE',
        })
        .then(response => {
            window.location.href = '/timetable/week/today';
        })
        .catch(err => {
            alert("There was a problem deleting this lesson/task/assignment!");
        }) 
    }


    // Monthly hover item functions:
    const monthlyUnits = document.getElementsByClassName('monthDayUnit');
    const monthlyUnitPopup = document.getElementById('monthlyUnitPopup');

    for (let monthlyUnit of monthlyUnits) {
        monthlyUnit.addEventListener('mouseenter', function(e) {
            monthlyUnitPopup.style.display = 'block';
            monthlyUnitPopup.style.backgroundColor = monthlyUnit.style.backgroundColor;
            const title = monthlyUnit.getAttribute('unit-title');
            const timing = monthlyUnit.getAttribute('unit-timing');
            monthlyUnitPopup.innerHTML = `${title} from ${timing}`;
            updatePopupPosition(e);
        });

        monthlyUnit.addEventListener('mousemove', function(e) {
            updatePopupPosition(e);
        });

        monthlyUnit.addEventListener('mouseleave', function() {
            monthlyUnitPopup.style.display = 'none';
        });
    }


    function updatePopupPosition(e) {
        const offsetX = 10; // Adjust the X offset as needed
        const offsetY = 10; // Adjust the Y offset as needed

        const scrollLeft = window.pageXOffset || document.documentElement.scrollLeft;
        const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

        monthlyUnitPopup.style.left = e.pageX - scrollLeft + offsetX + 'px';
        monthlyUnitPopup.style.top = e.pageY - scrollTop + offsetY + 'px';
    }

    // Previous week checkbox listener:
    const releasedOnInput = document.getElementById('releasedOn');
    const previousWeekCheckbox = document.getElementById('previousWeekOption');
    previousWeekCheckbox.addEventListener('change', () => {
        releasedOnInput.disabled = previousWeekCheckbox.checked;
        releasedOnInput.selectedIndex = 0;
    })
</script>

