<% layout('layouts/boilerplate') %>
<div id="newLessonBodyContainer">
    <h1 class="pageTitle">New Lesson</h1>
    <div class="formContainer">
        <form id="addLessonForm" method="POST" action="/timetable">
            <div class="editInputRow">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="lesson[title]"required>
            </div>
            <div class="editInputRow">
                <label class="form-label" for="colour">Colour</label>
                <select class="form-select" id="colour" name="lesson[colour]" required>
                    <option value="" selected disabled>Select a colour</option>
                    <option value="#C62828">Red</option>
                    <option value="#1565C0">Blue</option>
                    <option value="#2E7D32">Green</option>
                    <option value="#FFA000">Yellow</option>
                    <option value="#6A1B9A">Purple</option>
                    <option value="#F08731">Orange</option>
                </select>
            </div>
            <h3 class="timingContainerHeader">Timings</h3>
            <div id="timingContainer">
                <div class="timingRow">
                    <div class="timingInputRow editInputRow">
                        <label class="form-label" for="day0">Day</label>
                        <select class="form-select" id="day0" name="lesson[timings][0][day]" required>
                            <option value="" selected disabled>Select a day</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                        </select>
                    </div>
                    <div class="timingInputRow editInputRow">
                        <label class="form-label" for="timingStart0">Start</label>
                        <select class="form-select" id="timingStart0" name="lesson[timings][0][timingStart]" required>
                            <option value="" selected disabled>Select a starting time</option>
                            <% for (let j = 8; j <= 18; j++) { %>
                                <% let time = j < 10 ? '0' + j : j; %>
                                <option value="<%= time %>00"><%= time %>:00</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="timingInputRow editInputRow">
                        <label class="form-label" for="timingEnd0">End</label>
                        <select class="form-select" id="timingEnd0" name="lesson[timings][0][timingEnd]" required>
                            <option value="" selected disabled>Select an ending time</option>
                            <% for (let j = 9; j <= 18; j++) { %>
                                <% let time = j < 10 ? '0' + j : j; %>
                                <option value="<%= time %>00"><%= time %>:00</option>
                            <% } %>
                        </select>
                    </div>
                    <button type="button" class="deleteTimingButton button" data-index="0">Delete Timing</button>
                </div>
            </div>
            <button type="button" class="addTimingButton button">New Timing</button>
            <div class="editFormBottomButtonRow">
                <a href="/timetable" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
    // Function to create a new timing row
    function createTimingRow(index) {
        const timingRow = document.createElement('div');
        timingRow.classList.add('timingRow');
        timingRow.innerHTML = `
            <div class="timingInputRow editInputRow">
                <label class="form-label" for="day${index}">Day</label>
                <select class="form-select" id="day${index}" name="lesson[timings][${index}][day]" required>
                    <option value="" selected disabled>Select a day</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                </select>
            </div>
            <div class="timingInputRow editInputRow">
                <label class="form-label" for="timingStart${index}">Start</label>
                <select class="form-select" id="timingStart${index}" name="lesson[timings][${index}][timingStart]" required>
                    <option value="" selected disabled>Select a starting time</option>
                    <% for (let j = 8; j <= 18; j++) { %>
                        <% let time = j < 10 ? '0' + j : j; %>
                        <option value="<%= time %>00"><%= time %>:00</option>
                    <% } %>
                </select>
            </div>
            <div class="timingInputRow editInputRow">
                <label class="form-label" for="timingEnd${index}">End</label>
                <select class="form-select" id="timingEnd${index}" name="lesson[timings][${index}][timingEnd]" required>
                    <option value="" selected disabled>Select an ending time</option>
                    <% for (let j = 9; j <= 18; j++) { %>
                        <% let time = j < 10 ? '0' + j : j; %>
                        <option value="<%= time %>00"><%= time %>:00</option>
                    <% } %>
                </select>
            </div>
            <button type="button" class="deleteTimingButton button" data-index="${index}">Delete Timing</button>
        `;
        return timingRow;
    }

    // Function to handle the click event of the Add Timing button
    function addTiming() {
        const timingContainer = document.getElementById('timingContainer');
        const timingRows = timingContainer.getElementsByClassName('timingRow');
        const index = timingRows.length;
        const newTimingRow = createTimingRow(index);
        
        if (timingRows.length === 0) {
            // If no timing rows are present, append the newTimingRow as the first child of timingContainer
            timingContainer.appendChild(newTimingRow);
        } else {
            // Get the last timing row
            const lastTimingRow = timingRows[timingRows.length - 1];
            
            // Insert the newTimingRow after the lastTimingRow
            lastTimingRow.insertAdjacentElement('afterend', newTimingRow);
        }
        
        newTimingRow.getElementsByClassName("deleteTimingButton")[0].addEventListener('click', deleteTiming);
    }

    // Function to handle the click event of the Delete Timing button
    function deleteTiming(event) {
        const timingContainer = document.getElementById('timingContainer');
        const timingRows = timingContainer.getElementsByClassName('timingRow');
        const index = event.target.getAttribute('data-index');
        if (index <= timingRows.length && timingRows.length > 1) {
            timingContainer.removeChild(timingRows[index]);
            return;
        }
    }

    // Add event listener for the Add Timing button
    const addTimingButton = document.querySelector('.addTimingButton');
    addTimingButton.addEventListener('click', addTiming);

    // Add event listener for the Delete Timing buttons
    const deleteTimingButtons = document.getElementsByClassName('deleteTimingButton');
    Array.from(deleteTimingButtons).forEach((button) => {
        button.addEventListener('click', deleteTiming);
    });

    // Function to check for timing conflicts with existing timings
    function checkTimingConflicts() {
        // Get the form element:
        const form = document.getElementById('addLessonForm');
        
        // Get the timing rows
        const timingRows = Array.from(document.getElementsByClassName('timingRow'));

        // Get the values of the submitted timings:
        const submittedTimings = timingRows.map((row) => ({
            day: row.querySelector('select[name^="lesson[timings]"][name$="[day]"]').value,
            timingStart: row.querySelector('select[name^="lesson[timings]"][name$="[timingStart]"]').value + '00',
            timingEnd: row.querySelector('select[name^="lesson[timings]"][name$="[timingEnd]"]').value + '00'
        }));

        // Check if all timings are valid:
        let hasInvalidTiming = false;
        for (let timing of submittedTimings) {
            if (timing.timingStart >= timing.timingEnd) {
                hasInvalidTiming = true;
            }
        }
        if (hasInvalidTiming) {
            alert("Starting time must be earlier than Ending time.")
            return false;
        }
        
        // Helper function to check if timings conflict:
        function doTimingsConflict(timingA, timingB) {
            return (
                timingA.day === timingB.day &&
                timingA.timingStart < timingB.timingEnd &&
                timingA.timingEnd > timingB.timingStart
            );
        }

        // Check if timings within this lesson conflict:
        let internalConflict = false;
        for (let i = 0; i < submittedTimings.length; i++) {
            for (let j = i + 1; j < submittedTimings.length; j++) {
                const timingA = submittedTimings[i];
                const timingB = submittedTimings[j];
                if (doTimingsConflict(timingA, timingB)) {
                    internalConflict = true;
                }
            }
        }
        if (internalConflict) {
            alert('The submitted timings conflict with other timings of the current lesson.');
            return false;
        }

        // Check if timings conflict with timings of existing units:
        const existingUnitTimings = JSON.parse('<%- JSON.stringify(existingTimingsList) %>');
        let externalConflict = false;
        for (let i = 0; i < submittedTimings.length; i++) {
            for (let j = 0; j < existingUnitTimings.length; j++) {
                const timingA = submittedTimings[i];
                const timingB = existingUnitTimings[j];
                if (doTimingsConflict(timingA, timingB)) {
                    externalConflict = true;
                }
            }
        }
        if (externalConflict) {
            alert('The submitted timings conflict with other timings of an existing unit.');
            return false;
        }

        // If no conflicts are found, allow form submission
        return true;
    }

    // Add event listener to the form submit event
    const addLessonForm = document.getElementById('addLessonForm');
    addLessonForm.addEventListener('submit', (event) => {
        const isFormValid = checkTimingConflicts();

        if (!isFormValid) {
            event.preventDefault(); // Prevent form submission if there are conflicts
        }
    });
</script>