<% layout('layouts/boilerplate')%>
<div class="card p-5" style="background-color: <%= sameLessons[0].colour %>; width: 60%; margin-left: auto; margin-right: auto; margin-top: 5%;">
    <h3 class="text-light" ><%= sameLessons[0].title %></h3>
    <div style="margin-top: 20px; background-color: white; border-radius: 10px; padding: 10px;">
        <% for (let lesson of sameLessons) { %>
            <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 10px;">
                <p style="font-size: 1.2rem;"><%= lesson.day %> at <%= lesson.timingStart %> - <%= lesson.timingEnd %></p>
                <div style="display: flex; flex-direction: row;">
                    <a class="btn btn-success" href="/timetable/<%= lesson._id%>/edit" style="padding-left: 7px; padding-right: 7px; height: 80%; margin-right: 10px;">Edit</a>
                    <form action="/timetable/<%= lesson._id %>?_method=DELETE" method="POST" style="height: 80%;">
                        <button class="btn btn-danger" style="height: 100%;">Delete Lesson</button>
                    </form>
                </div>
            </div>
            <% if (sameLessons.indexOf(lesson) + 1 < sameLessons.length) { %>
                <hr style="margin: 0px;">
            <% } %>

        <% } %>
    </div>
    <div class="button-container d-flex flex-row justify-content-between mt-3">
        <a class="btn btn-primary" href="/timetable">Back</a>
    </div>
</div>
