<% layout('layouts/boilerplate')%>
<div class="card p-5" style="background-color: <%= unit.colour %>; width: 60%; margin-left: auto; margin-right: auto; margin-top: 5%;">
    <h3 class="text-light" ><%= unit.title %></h3>
    <% if (unit.type == "Lesson") { %>
        <h3 class="text-light">Lesson</h3>
    <% } else { %>
        <h3 class="text-light">Weekly Task</h3>
    <% } %>
    <div style="margin-top: 20px; background-color: white; border-radius: 10px; padding: 10px;">
        <% for (let timing of unit.timings) { %>
            <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 10px;">
                <p style="font-size: 1.2rem;"><%= timing.day %> at <%= timing.timingStart %> - <%= timing.timingEnd %></p>
                <form action="/timetable/<%= unit._id %>?_method=DELETE" method="POST" style="height: 80%;">
                    <button class="btn btn-danger" style="height: 100%;">Delete Unit</button>
                </form>
            </div>
        <% } %>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
        <div class="button-container d-flex flex-row justify-content-between mt-3">
            <a class="btn btn-primary" href="/timetable">Back</a>
        </div>
        <div class="button-container d-flex flex-row justify-content-between mt-3">
            <a class="btn btn-success" href="/timetable/<%= unit._id%>/edit" >Edit</a>
        </div>
    </div>

</div>
