<% layout('layouts/boilerplate')%>
<h1>ALL TRANSACTIONS</h1>
<ul>
    <% for (let transaction of transactions) {%>
        <div class="card bg-dark d-flex flex-column p-3 m-2">
            <h5 class="text-light"><%= transaction.title %></h5>
            <div class="transaction-body">
                <h6 class="text-secondary"><%= transaction.description %></h6>
                <div class="details-container d-flex flex-row justify-content-between">
                    <h6 class="text-secondary"><%="$" + transaction.amount %></h6>
                    <h6 class="text-secondary"><%= transaction.date %></h6>
                </div>
                <a class="btn btn-primary" href="/transactions/<%= transaction._id %>">View Transaction</a>
            </div>
        </div>
    <%}%>
</ul>
